<div class="row">
  <div class="col-md-2">
    <p><h1> Hi <%= link_to @current_user.username, @current_user %> </h1></p>
    <h4> Channel Members </h4>
    <div>
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%= render @users %>
      </div>
    </div>
    <hr>
    <h4> Rooms </h4>
    <% unless @rooms.count >= 1 %>
      <%= render partial: "layouts/new_room_form" %>
    <% end %>
    <div>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
        <%= render @rooms %>
      </div>
    </div>
  </div>
  <div class="col-md-10 bg-dark text-light">
    <% if @single_room %>
      <h4 class="text-center"> <%= @single_room.name %> </h4>
      <%= turbo_stream_from @single_room %>
      <div id="messages">
        <%= render @messages %>
      </div>
      <%= render partial: 'layouts/new_message_form' %>
    <% end %>
  </div>
</div>
